.block__app {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 30px;
}

.button {
    background-color: rgba(254, 17, 0, 0.9);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 100%;
}

.button__game:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}